* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-principal);
  font-weight: var(--font-weight-normal);
}

header {
  padding-top: 30px;
}

button {
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

.container {
  padding-inline: 20px;
  max-width: 350px;
  margin-inline: auto;
}
