:root {
  --font-family: "Plus Jakarta Sans", sans-serif;

  --font-weight-normal: 500;
  --font-weight-bold: 700;

  --font-size-normal: 1rem; /* 16px */
  --font-size-big: 1.5rem; /* 24px */
  --font-size-biggest: 3rem; /* 48px */
}
